<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsividadet</title>
    <style>
        main{
            padding: 10px;
            border-radius: 10px;

            min-width:320px ;
            max-width: 800px;
            margin: auto;

        }

        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <picture>
        <source media="(max-width:800px )" srcset="img/football.jpg">
        <img src="img/football.jpg" alt="campo de football">
    </picture>
    
    
</body>
</html>